<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taes.paula.aidhurt">

    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SensorService"
            android:enabled="true" />

        <receiver
            android:name=".SensorRestarted"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.taes.paula.ActivityRecognition.RestartSensor" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".VolumenDown"
            android:enabled="true"
            android:exported="true"
            android:label="CatchVolumen">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Juego"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_juego"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Juego2"></activity>

        <receiver
            android:name=".WarningPower"
            android:enabled="true"
            android:exported="true"
            android:label="CatchPOWER">
            <intent-filter>
                <action android:name="android.media.ACTION_SCREEN_ON" />
                <action android:name="android.media.ACTION_SCREEN_OFF" />
            </intent-filter>
        </receiver>
    </application>

</manifest>